<section class="l{{ level }} component{% if pageBreakBefore %} page-break{% endif %}" id="container_{{ id }}">
  {% include 'componentTemplates/Heading.html' %}

  <div id='figure_{{ id }}' class="figure">

    <div class='cvss-risk-diagram-container'>

      <div class='cvss-risk-diagram'>

        <div class="diagram-label normal">
          <span class='diagram-label-content'>
            <span class="label-text">
              Impact
            </span>
            <div class="arrow">
              <div class="line"></div>
              <div class="point"></div>
            </div>
          </span>
        </div>

        <div class="diagram-label rotate">
          <span class='diagram-label-content'>
            <span class="label-text">
              Probabilité
            </span>
          <div class="arrow">
            <div class="line"></div>
            <div class="point"></div>
          </div>
          </span>
        </div>

        <table cellspacing="0" align="center">
          <tr>
            <td finding-severity="Moyenne">Moyenne</td>
            <td finding-severity="Haute">Haute</td>
            <td finding-severity="Critique">Critique</td>
          </tr>
          <tr>
            <td finding-severity="Basse">Basse</td>
            <td finding-severity="Moyenne">Moyenne</td>
            <td finding-severity="Haute">Haute</td>
          </tr>
          <tr>
            <td finding-severity="Informative">Informative</td>
            <td finding-severity="Basse">Basse</td>
            <td finding-severity="Moyenne">Moyenne</td>
          </tr>
        </table>

      </div>

      <table class='cvss-risk-diagram-legend'>
        <tr class='severity' finding-severity='Critique'>
          <th>Critique</th>
          <td>9.0 - 10.0</td>
        </tr>
        <tr class='severity' finding-severity='Haute'>
          <th>Haute</th>
          <td>7.0 - 8.9</td>
        </tr>
        <tr class='severity' finding-severity='Moyenne'>
          <th>Moyenne</th>
          <td>4.0 - 6.9</td>
        </tr>
        <tr class='severity' finding-severity='Basse'>
          <th>Basse</th>
          <td>0.1 - 3.9</td>
        </tr>
        <tr class='severity' finding-severity='Informative'>
          <th>Informative</th>
          <td>0.0 - 0.0</td>
        </tr>
      </table>

    </div>

    <figcaption class='cvss-diagram-figure-caption'>
      <span class='figure-number'>Figure <span class='figure-counter'></span>.</span> Diagramme de risque CVSS
    </figcaption>

  </div>

</section>
