<div class='severity-legend'>
  {% if not proactive_only %}
    <div class='severity' finding-severity='Critique'>Critique</div>
    <div class='severity' finding-severity='Haute'>Haute</div>
    <div class='severity' finding-severity='Moyenne'>Moyenne</div>
    <div class='severity' finding-severity='Basse'>Basse</div>
    <div class='severity' finding-severity='Informative'>Informative</div>
  {% endif %}
  {% if proactive or proactive_only %}
    <div class='severity' finding-severity='Proactive'>Proactive</div>
  {% endif %}
</div>
