<div class='severity-legend'>
  {% if not proactive_only %}
    <div class='severity' finding-severity='Critical'>Critique</div>
    <div class='severity' finding-severity='High'>Haute</div>
    <div class='severity' finding-severity='Medium'>Moyenne</div>
    <div class='severity' finding-severity='Low'>Basse</div>
    <div class='severity' finding-severity='Informational'>Informative</div>
  {% endif %}
  {% if proactive or proactive_only %}
    <div class='severity' finding-severity='Proactive'>Proactive</div>
  {% endif %}
</div>
